@import '~bootstrap/scss/bootstrap';

body {
  background: lightblue;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-close:hover {
  border-radius: 3px;
  border: 1px solid red
}

.note {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alert-enter {
  opacity: 0;
}
.alert-enter-active {
  opacity: 1;
  transition: opacity 550ms ease-in-out;
}

.alert-exit-active {
  opacity: 0;
  transition: opacity 550ms ease-in-out;
}

.alert-exit {
  opacity: 0;
}


.ul-exit-active {
  animation: note 200ms ease-in-out forwards;
}

.ul-enter {
  opacity: 0;
}

.ul-enter-active{
  opacity: 1;
  transition: opacity 200ms;
}

@keyframes note {
  0% {
    transform: translateX(0);
  }

  50%{
    transform: translateX(30px);
  }

  100%{
    transform: translateX(-200px);
  }
}

.nav-link {
  padding: 0 10px!important;
}

.navbar-nav {
  flex-direction: row !important;
}

.input-group-text:hover {
  cursor: pointer;
}